<title> Create New Article </title>
<h1> Create New Article </h1>
<form method="POST" action='/articles'>
<h2> Title: <input type="text" name="title"></h2></br>
<h3> Content: <input type="textarea" name="content"></h3>
<input type=submit value=submit>
</form>